@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: Arial, Helvetica, sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

@font-face {
  font-family: "ppNeueMontreal";
  font-weight: 700;
  src: url("/fonts/ppneuemontreal/ppneuemontreal-bold") format("woff");
}

@font-face {
  font-family: "ppNeueMontreal";
  font-weight: 500;
  src: url("/fonts/ppneuemontreal/ppneuemontreal-medium") format("woff");
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
